* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    overflow-x: hidden;
}

.navbar-brand img {
    height: 50px;
    padding-left: 50px;
}

.navbar-toggler-icon {
    background-color: transparent !important;
}

.navbar-toggler-icon i {
    color: #01a6dd !important;
}

.navlink {
    color: white;
}

.navlink:hover {
    color: #01a6dd;
}

.informationcont a {
    padding: 7px 35px 7px 35px;
    border-radius: 10px;
}

main {
    padding: 2% 0% 5% 5%;
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 650px;
    padding-top: 10px;
    position: absolute;
    z-index: 1000;
}

.info div {
    display: flex;
}

.info-one {
    width: 100%;
    border: none;
    background-color: white;
}

.info-one:focus,
.info-two:focus {
    outline: none;
    border: none;
}

.info-two {
    border: none;
    background-color: white;
    width: 90%;
}

.icon {
    padding: 4px 8px 0px 0px
}

.icon i {
    background-color: #c1dfea;
    color: #33b7e3;
    padding: 15px;
    border-radius: 100px;
}

.link {
    padding-top: 15px;
}

.left {
    padding-right: 20px;
}

.right {
    position: relative;
}

.right img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.section-one {
    padding: 0% 5% 5% 5%;
}

.sec-cont-two {
    padding: 150px 30px 0px 50px;
}

.sec-one-art {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sec-one-art div {
    padding: 5px 30px 5px 30px;
    background-color: #b3e4f5;
    margin: 10px;
    border-radius: 10px;
}

article {
    padding: 0% 4% 0% 4%;
}

.art-left {
    padding-right: 40px;
}

.art-one {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.art-one div {
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 5px 15px 0px 15px;
}

.article-two {
    background-color: #e6f6fc;
    border-radius: 40px;
    margin: 2% 10% 0px 10%;
    padding: 20px 0px 100px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.article-two p {
    padding: 5px 10px 0px 10px;
}

.art-info {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 0px 0px 15px;
    margin: 0px 15% 0px 15%;
    position: relative;
    bottom: 50px;
}

.art-info div {
    display: flex;
}

.number-of-people {
    width: 95%;
    border: none;
    background-color: white;
}

.number-of-people:focus {
    outline: none;
    border: none;
}

/* section two */

.section-two {
    margin: 1% 5% 5% 5%;
}

.sec-two-parent {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.sec-two-cont {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 20px;
}

.sec-cont-two {
    padding-left: 100px;
}

.img {
    width: 100%;
    border-radius: 20px;
    transform: scale(0.9);
    /* Start at 90% of the original size */
    transition: transform 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1);
}

.locationNprice {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.price {
    display: flex;
    align-items: end;
}

.price span {
    background-color: #b3e4f5;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: 2px solid #66c9ea;
}

.sec-two-view-more a {
    padding: 10px 80px 10px 80px;
    border-radius: 20px;
}

/* Article three */
.article-three {
    padding: 0px 0px 0px 5%;
}

.art-three-left {
    padding: 20px 5% 0px 0px;
}

.profile {
    padding: 20px;
    background-color: #e6f6fc;
    border-radius: 15px;
}

.profile-name {
    padding-top: 20px;
}

.profile-img {
    width: 80px;
    height: 80px;
}

.profile-imgg {
    width: 80px;
    height: 80px;
}

.art-three-right-img {
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s ease-out;
}

.slideInForArtThreeImg {
    transform: translateX(0);
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    width: 20px;
    height: 20px;
}

/* section-three */
.section-three {
    background-color: #ccedf8;
    margin-top: 50px;
}

.s-t-l {
    padding: 50px 0px 0px 5%;
}

.s-t-l img {
    padding-top: 40px;
    width: 80%;
}

form {
    padding: 40px 0% 20px 5%;
}

input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ccedf8;
}

#additional-info {
    width: 70%;
    height: 160px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ccedf8;
}

input[type="submit"] {
    width: 70%;
    background-color: black;
    color: white;
    border-radius: 10px;
}

footer {
    background-color: #1b1e20;
}

.footer-nav span {
    padding-right: 30px;
}

.footer-nav a {
    text-decoration: none;
    color: white;
}

footer hr {
    color: white;
}

@media screen and (max-width:1400px) {
    .sec-one-art div {
        font-size: 10px;
        padding: 5px 50px 5px 50px;
    }

    article {
        padding: 0% 2% 0% 3%;
    }

    .art-one {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width:992px) {
    main {
        padding: 2% 0% 5% 5%;
    }

    .right img {
        width: 100%;
    }

    .section-one {
        padding-top: 10%;
    }

    .sec-one-art div {
        font-size: 13px;
    }

    .art-one {
        grid-template-columns: 100%;
    }

    .art-info {
        grid-template-columns: 50% 50%;
        bottom: 50px;
    }

    .art-info div {
        padding-bottom: 20px;
    }

    .sec-two-parent {
        grid-template-columns: 50% 50%;
    }

    .sec-two-cont {
        margin: 10px;
    }

    .sec-two-view-more {
        margin-top: 20px;
    }

    .article-two {
        margin-top: 40px;
    }

    .article-three {
        margin-top: 10%;
    }

    input {
        width: 90%;
    }

    #additional-info {
        width: 90%;
    }

    .sec-cont-two {
        padding: 50px 2% 0px 3%;
    }

    .profile-img {
        width: 70px;
    }

    .profile-name {
        padding-top: 10px;
    }

    .profile-imgg {
        width: 70px;
        height: 70px;
    }

    .s-t-l img {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .right {
        padding-top: 15%;
    }

    .art-info {
        grid-template-columns: 50% 50%;
        bottom: 50px;
        padding: 20px 20px 0px 20px;
    }

    .art-info div {
        padding-bottom: 20px;
        width: 100%;
    }

    .section-two {
        margin: 2%;
    }

    .art-three-right {
        padding-top: 40px;
    }

    .s-t-l {
        padding: 50px 5% 0px 5%;
    }
}

@media screen and (max-width:680px) {
    .info {
        width: 620px;
    }

    .s-t-l {
        padding-right: 5%;
    }
}

@media screen and (max-width:600px) {
    .navbar-brand img {
        padding-left: 30px;
    }

    .info {
        width: 450px;
        font-size: 10px;
    }

    .icon {
        padding: 0px 8px 0px 10px
    }

    .link {
        padding-top: 18px;
    }

    .link a {
        font-size: 10px;
    }

    .i {
        padding-top: 5px;
    }

    .right {
        padding: 100px 0px 0px 2%;
        margin-top: 15px;
    }

    .right img {
        width: 95%;
    }

    .sec-cont-two {
        padding: 50px 0px 0px 0px;
    }

    .sec-two-parent {
        grid-template-columns: 100%;
    }

    .art-one {
        grid-template-columns: 100%;
    }

    .art-info {
        grid-template-columns: 50% 50%;
        bottom: 60px;
        font-size: 10px;
    }

    .art-info div {
        padding-bottom: 20px;
    }

    .art-left {
        padding-left: 15px;
    }

    input {
        width: 95%;
    }

    #additional-info {
        width: 95%;
    }

    input[type="submit"] {
        width: 95%;
    }

    .profile-img {
        width: 70px;
        height: 70px;
    }

    .profile-imgg {
        width: 70px;
        height: 70px;
    }

    .s-t-l img {
        text-align: center;
        width: 95%;
    }
}